// $('#approvalModal').modal('hide')
(function($) {

  $.fn.modal_success = function(){
    this.modal('hide');
  };
});
// alert("Hello");
// $("#helloid").append("<%= @comment.user.name %>: <%= @comment.content %>");


$("#approvalModal").html("<div><p>You have submitted the form successfully.</p></div>");
